/* Html*/
html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
}
#content {
	display: grid;
	grid-template-rows: 70px 1fr 50px;
	width: 100%;
	height: 100%;
}
header {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;
	background: linear-gradient(
		90deg,
		hsla(186, 33%, 94%, 1) 0%,
		hsla(216, 41%, 79%, 1) 100%
	);
}
h3 {
	font-size: xx-large;
	font-style: italic;
	color: #261447;
	width: 20%;
}
h6 {
	cursor: pointer;
}
ul {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	list-style: inside;
	justify-content: space-evenly;
	height: 25%;
	margin-top: 10px;
	margin-left: 10%;
}
footer {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	background: linear-gradient(
		90deg,
		hsla(186, 33%, 94%, 1) 0%,
		hsla(216, 41%, 79%, 1) 100%
	);
}

/* classes*/

.projectForm {
	display: none;
}
.projectForm.on {
	display: flex;
}
.TaskForm {
	display: none;
}
.TaskForm.on {
	display: flex;
}

.editForm {
	display: none;
}
.editForm.on {
	display: block;
}
.descriptionContent {
	display: none;
}
.descriptionContent.on {
	display: block;
}
/* sideBar*/
.sideBarButton {
	margin-left: 50px;
	font-size: 30px;
	cursor: pointer;
}
#sideBar {
	display: flex;
}
#sideBar.off {
	display: none;
}
#sideBar {
	flex-direction: column;
	border-right: solid 1px #252a34;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		90deg,
		hsla(0, 0%, 100%, 1) 0%,
		hsla(120, 9%, 98%, 1) 100%
	);
}
#sideBarContent {
	display: flex;
	margin: 5% 0% 5% 15%;
	flex-direction: column;
	align-items: flex-start;
	width: 85%;
	height: 95%;
	justify-content: space-evenly;
}

#addsign {
	width: 10%;
	height: 100%;
}
#addProject {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: 75%;
	cursor: pointer;
}
#addProjectForm {
	flex-direction: row;
	align-content: center;
	align-items: center;
	margin-top: 10px;
	width: 100%;
	justify-content: flex-start;
}
#projectName {
	width: 75%;
	border: none;
	border-bottom: solid 1px grey;
}
#projects {
	margin-top: 10%;
	border-bottom: 0.1mm solid gray;
	padding-bottom: 8px;
	width: 75%;
}
#projectsContent {
	display: flex;
	margin: 5% 0% 2% 10%;
	flex-direction: column;
	justify-content: flex-start;
	width: 80%;
	height: 100%;
}
.projectContainer {
	padding-top: 5%;
}
/* Main*/

#main {
	display: grid;
	grid-template-columns: 25% 75%;
	width: 100%;
	height: 100%;
}
#main.off {
	grid-template-columns: 100%;
}
#mainContent {
	margin: 2% 5% 2% 5%;
}
#mainTitle {
	display: flex;
	border-bottom: 1px solid;
	margin-right: 20%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
#addTaskButton {
	font-size: xx-large;
}
#addTaskForm {
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	border: 1px solid;
	width: 90%;
	height: 20vmax;
	background: linear-gradient(
		90deg,
		hsla(186, 33%, 94%, 1) 0%,
		hsla(216, 41%, 79%, 1) 100%
	);
}
#tasksContainer {
	display: flex;
	flex-direction: column;
	overflow-x: visible;
	overflow-y: auto;
	height: 50vmin;
}
#taskDescription {
	height: 100px;
	width: -webkit-fill-available;
}
.formdivs {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-evenly;
	height: 100%;
}
.taskContent {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid;
	margin-top: 5px;
	padding-bottom: 1%;
}
.taskDiv {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.taskDiv.left {
	width: 50%;
	justify-content: flex-start;
}
.taskDiv.right {
	width: 30%;
	justify-content: space-evenly;
}
.descriptionContent {
	margin: 1% 1% 1% 1%;
	border-bottom: 1px solid;
	padding-bottom: 1%;
}
.editForm {
	text-align: center;
	border: 1px solid;
	width: 35vmin;
	padding: 1% 0% 1% 0%;
	margin: 1% 0% 0% 0%;
	align-self: flex-end;
}
